@model IEnumerable<CoreMVCFileUpload.Controllers.DownloadFile>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <a asp-action="Upload" asp-controller="Files" class="btn btn-primary">檔案上傳</a>
    <a asp-action="DownloadAll" asp-controller="Files" class="btn btn-primary">全部下載</a>
</div>
<form asp-action="DownloadSelectedFiles" asp-controller="Files">

<table class="table">
    <thead>
        <tr>
            <th><input id="checkAll" type="checkbox" />全選</th>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td><input type="checkbox" name="Filenames" value="@item.FileName"></td>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                <a asp-controller="Files" asp-action="Download" asp-route-Filename="@item.FileName">@item.FileName</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationTime)
            </td>
            <td>
        </tr>
}
    </tbody>
</table>
    <button type="submit" class="btn btn-primary">多檔下載</button>
</form>
@section Scripts
    {
    <script>
        $(document).ready(function() {
          $("#checkAll").on("click", function() {
            $("input[name='Filenames']").prop('checked', this.checked);
          });
        });
    </script>
}
