@model IEnumerable<CoreMVCChart.Controllers.CustomerCount>

@{
    ViewData["Title"] = "ChartJS";
}

<h1>ChartJS</h1>

<table>
    <tr>
        <td style="vertical-align:top">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Country)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Count)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Country)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Count)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </td>
        <td style="vertical-align:top">
            <canvas id="CustomersChart" width="1024" height="768"></canvas>
        </td>
    </tr>
</table>

@section scripts {
    <script src="~/lib/chart.js/chart.min.js"></script>
    <script>
        var ctxline = document.getElementById("CustomersChart").getContext('2d');
        $.ajax({
            url: "@Url.Action("GetCustomersCount", "Customers")",
            type: "get",
        }).done(function (data) {
            var labels = []; var dataresults = [];
            $.each(data, function (index, item) {
                labels.push(item.country); dataresults.push(item.count);
            });
            var myLineChart = new Chart(ctxline, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{ label: '客戶人數', data: dataresults, backgroundColor: ["red", "blue", "green", "yellow", "brown", "grey", "purple"], borderWidth: 1 }]

                },
                options: {
                    scales: { yAxes: [{ ticks: { beginAtZero: true } }] }
                }
            });
        }).fail(function (err) { alert(err.statusText); });
    </script>
}
