@using Questionnaire.Models
@model IEnumerable<Question>

<form asp-action="Answers">
    <table class="table">
        <thead>
            <tr>
                <th>編號</th>
                <th>題目</th>
                <th>答案1</th>
                <th>答案2</th>
                <th>答案3</th>
                <th>答案4</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    @for (int i = 0; i < item.Answers.Count; i++)
                    {
                            <td>
                                <input name="@item.Description" type="checkbox" value="@Html.DisplayFor(modelItem => item.Answers.ElementAt(i).Answer1)" />
                                <label>@Html.DisplayFor(modelItem => item.Answers.ElementAt(i).Answer1)</label>
                            </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div class="mb-3">
        <input type="submit" value="提交" class="btn btn-primary" />
    </div>
</form>